.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.lineList {
  padding: 40px;
  width: 400px;
  aspect-ratio: 1;
  background-color: rgb(218, 238, 243);
  border-radius: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.legend-item {
  list-style: none;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.legend-color {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.process-button-list {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  width: 170px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
}
